@charset "UTF-8";

:root {
    --cor0: #46e3ee;
    --cor1: #3eccef;
    --cor2: #33b4c5;
    --cor3: #2a95a3;
    --cor4: #226e81;
    --cor5: #04304d;

    --font-padrao: Red Rose, sans-serif;
    --font-destaque: Merienda, cursive;
    }

* {
    margin: 0px;
    padding: 0px;
    }

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
    text-align: justify;
    }

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    }

header h1 {
    text-align: center;
    color: white;
    font-family: var(--font-destaque);
    font-size: 2em;
    padding: 20px 30px;
    }

header p {
    text-align: center;
    color: white;
    font-family: var(--font-padrao);
    padding: 10px 20px;
    font-size: 1.2em;
    }

main {
    background-color: white;
    text-align: justify;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377) ;
    }

article {
        padding: 10px;
        margin: auto;
    }

article h1 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-family: var(--font-destaque);
    color: var(--cor5);
    padding: 2px;
    margin: 3px;
    }

article  h2 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-family: var(--font-destaque);
    color: var(--cor5);
    padding: 5px;
    margin: 3px;
    border-radius: 6px;
    }

article h3 {
    font-family: var(--font-destaque);
    padding: 10px;
}

article p {
    text-align: justify;
    text-indent: 15px;
    margin: 15px 0;
    line-height: 1.4em;
    }

article ul, ol {
    list-style-position: inside;
}

article pre {
    background-image: linear-gradient(to right, var(--cor0), var(--cor1));
    padding: 0px;
    border-radius: 10px;
    overflow-x: auto;
    }
    
article a {
    text-decoration: none;
    color: #184658;
    }

a:hover {
    background-image: linear-gradient(to right, var(--cor5), var(--cor1)); 
    font-style: italic;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    transition-duration: 0.5s;
    }

aside {
    background-color: var(--cor0);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459);
    }


aside > h4 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside p {
    text-align: justify;
    text-indent: 15px;
    margin: 15px 0;
    line-height: 1.4em;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #184658;
    }

nav a:hover {
    background-image: linear-gradient(to right, var(--cor5), var(--cor1));
    font-style: italic;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    transition-duration: 0.5s;
    }

nav a::before {
    content: "<<"
}    

nav a::after {
    content: ">>"
}

div.video {
    background-color: var(--cor5);
    margin: 0px -10px 20px -10px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    text-align: center;
    font-size: 0.7em;
    padding: 10px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    font-style: italic;
    font-weight: bold;
    color: white;
}